body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    color: #212529;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-signin img {
    height: 50px;
}

.btn-primary {
    background-color: #198754;
    border: none;
}

.invalid-feedback {
    display: none;
}

input:invalid + .invalid-feedback {
    display: block;
}
